html {
  font-family: "Roboto", serif;
  font-size: 62.5%;
  line-height: 1.25;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --primary-color: darksalmon;
  --primary-color-light: rgb(228, 195, 184);
}

body {
  font-size: 1.6rem;
  display: grid;
  height: 100svh;
  grid-template-rows: auto 1fr;
}

header {
  font-family: "ConcreteRegular", sans-serif;
  display: flex;
  gap: 2rem;
  background-color: cornflowerblue;
  padding: 2rem 6rem;
  box-shadow: 0 5px 10px rgb(0, 0, 0, 0.4);
}

main {
  background-color: ghostwhite;
}

button {
  line-height: 1;
  align-self: center;
  border: none;
  border-radius: 5px;
  color: rgb(26, 24, 24);
  background-color: var(--primary-color);
  padding: 1.2rem 1.4rem 1rem 1.4rem;
  cursor: pointer;
  box-shadow: 2px 2px 2px rgb(0, 0, 0, 0.4);
  transition: all 0.2s ease-in;

  /* Workaround for these properties not cascading in Chrome */
  font-family: "ConcreteRegular", sans-serif;
  font-size: 1.6rem;
}

@media (hover: hover) {
  button:hover {
    background-color: var(--primary-color-light);
    transform: translateY(-2px);
    box-shadow: 2px 2px 5px 2px rgb(0, 0, 0, 0.4);
  }
}

button:active {
  transform: translateY(2px);
  box-shadow: 2px 2px 5px 2px rgb(0, 0, 0, 0.4);
}

.add-book-modal {
  margin-right: auto;
}

dialog {
  left: 50%;
  top: 50%;
  overflow: auto;
  padding: 2rem;
  transform: translate(-50%, -50%);
}

dialog::backdrop {
  background-color: rgba(100, 148, 237, 0.212);
}

form {
  display: grid;
  font-size: 2.2rem;
  grid: repeat(4, 1fr) / auto minmax(80px, 200px);
  gap: 2rem;

  & input {
    font-family: serif;
    font-size: 80%;
    padding-left: 2px;
  }

  & input[type="checkbox"] {
    justify-self: left;
  }

  & button {
    background-color: black;
    color: white;
    font-size: 1.4rem;
    text-transform: uppercase;
    grid-column: 1 / -1;
  }

  @media (hover: hover) {
    & button:hover {
      color: black;
      background-color: var(--primary-color);
    }
  }

  button:active {
    transform: translateY(2px);
    box-shadow: 2px 2px 5px 2px rgb(0, 0, 0, 0.4);
  }
}

.books-container {
  display: grid;
  gap: 2rem;
  padding: 6rem;
  grid-template-columns: repeat(auto-fit, minmax(100px, 300px));

  & button {
    font-family: "Roboto", serif;
    font-weight: bold;
    background-color: black;
    color: white;
    font-size: 1.4rem;
    padding: 0.5em 1em;
  }
}

.book-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: white;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0 0 5px rgb(0, 0, 0, 0.4);
  transition: all 0.2s ease-in;
}
